@import "var";
@import "footer";
@import "border";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    .img{
        border-radius: 50%;
        border: white 5px solid;
        padding: 10 px;
        &:hover{
            border: purple 5px solid;
        }
    }
}
main{
    width: $ancho *2 -100 ;


}