*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(178, 110, 242);
}
h1{
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(239, 143, 143)
}
header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(193, 144, 238);
}
header .menu ul{
    list-style-type: none;
    display: flex;
}
header .menu li{
    padding: 0.7rem;
}
header .menu a{
    color: blueviolet;
    text-decoration: none;
    padding: 1rem;
}
header .menu a:hover{
    background-color: blueviolet;
    color: rgb(239, 143, 143);
    border-radius: 20%;
}
.parrafo1{
    width: 90%;
    padding: 20px;

}
 img .cuidadodepiel{
    width: 90px;
}

  